html,
body {
  padding: 0;
  margin: 0;
  font-family: atlas, sans-serif;
  background: #0f131e;
}

.bookBody {
  position: relative;
  display: flex;
  overflow: auto;
  max-height: 400px;
  border-left: 3px solid #2a3240;
  border-right: 3px solid #2a3240;
}

.bookFooter {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: #2a3240;
}

.bookHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 64px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 3px solid #2a3240;
}

@media screen and (max-width: 768px) {
  .bookBody {
    flex-direction: column-reverse;
    max-height: 1000px;
  }
}

